@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="dark"] {
	--primary-bg: #020617;
	--secondary-bg: #0f172a;
	--primary-fg: #e2e8f0;
	--secondary-fg: #64748b;
	--highlight: #04d9ff;
	--divider: #1e293b;
	--from: #a76748;
	--via: #bc2c67;
	--to: #7033c1;
}

html[data-theme="light"] {
	--primary-bg: #f2f6fe;
	--secondary-bg: #fff;
	--primary-fg: #0f172a;
	--secondary-fg: #666666;
	--highlight: #0004ff;
	--divider: #dddddd;
	--from: #fad961;
	--via: #f76b1c;
	--to: #ff4141;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--primary-fg);
	border: 3px solid var(--secondary-bg);
	border-radius: 5px;
	transition: all 0.5s;
}

body::-webkit-scrollbar-thumb:hover {
	border: 1px solid var(--secondary-bg);
}

body::-webkit-scrollbar-track {
	background-color: var(--secondary-bg);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-fg);
	border: 3px solid var(--secondary-bg);
	border-radius: 5px;
	transition: all 0.5s;
}

::-webkit-scrollbar-thumb:hover {
	border: 1px solid var(--secondary-bg);
}

::-webkit-scrollbar-track {
	background-color: var(--secondary-bg);
}

.gradient-bg {
	@apply bg-gradient-to-r from-blue-500 via-purple-500 via-yellow-100 to-pink-500;
	background-size: 200%;
	animation: backgroundAnimation 6s alternate infinite;
}

@keyframes backgroundAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.pulse {
	width: 8px;
	aspect-ratio: 1;
	border-radius: 50%;
	background: #16a34a;
	box-shadow: 0 0 0 0 #16a34a;
	animation: l1 1s infinite;
}
@keyframes l1 {
	100% {
		border-radius: 50%;
		box-shadow: 0 0 0 30px #0000;
	}
}

/* HTML: <div class="loader"></div> */
.loader {
	width: 100px;
	aspect-ratio: 1;
	display: grid;
	border: 4px solid #0000;
	border-radius: 50%;
	border-right-color: #25b09b;
	animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
	content: "";
	grid-area: 1/1;
	margin: 2px;
	border: inherit;
	border-radius: 50%;
	animation: l15 2s infinite;
}
.loader::after {
	margin: 8px;
	animation-duration: 3s;
}
@keyframes l15 {
	100% {
		transform: rotate(1turn);
	}
}

.left-border {
	border-radius: 42% 39% 56% 8% / 54% 36% 37% 8%;
}

.right-border {
	border-radius: 36% 41% 6% 54% / 36% 51% 6% 39%;
}

.right-triangle::after {
	content: "";
	right: 20px;
	bottom: -20px;
	z-index: -1;
	width: 7rem;
	height: 7rem;
	position: absolute;
	clip-path: polygon(55% 0, 0 50%, 100% 100%);
}

.left-triangle::after {
	content: "";
	left: 20px;
	z-index: -1;
	width: 7rem;
	height: 7rem;
	bottom: -20px;
	position: absolute;
	clip-path: polygon(100% 55%, 50% 0, 0 100%);
}

